/* Google Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* Variables */
:root {
  --color_1: rgb(15, 93, 21);
  --background-color_1: rgb(236, 231, 236);
  --color_2: rgb(97, 16, 74);
  --background-color_2: rgb(231, 236, 231);
  --color_3: rgb(15, 93, 21);
  --background-color_3: rgb(236, 231, 236);
  --color_4: rgb(97, 16, 74);
  --background-color_4: rgb(231, 236, 231);

  --dark-theme-color_1: rgb(212, 212, 212);
  --dark-theme-background-color_1: rgb(49, 49, 49);
  --dark-theme-color_2: rgb(252, 255, 206);
  --dark-theme-background-color_2: rgb(6, 34, 9);
  --dark-theme-color_3: rgb(212, 212, 212);
  --dark-theme-background-color_3: rgb(49, 49, 49);
  --dark-theme-color_4: rgb(252, 255, 206);
  --dark-theme-background-color_4: rgb(6, 34, 9);
}

/* Basic Sections */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text);
  background-color: var(--primary-background);
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

footer {
  text-align: center;
  padding: 1rem;
  height: 60px;
}

/* Elements */
a {
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
}

a:visited {
  color: blueviolet;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
button:hover {
  color: var(--secondary-text);
  background: var(--secondary-background);
}

/* Breakpoints */
@media screen and (min-width: 1171px) {
}
@media screen and (max-width: 1170px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
}
